.header__wrapper {
  max-width: 1240px;

  padding: 20px;
  margin: 0 auto;
}

.title {
  color: #2C4A52;

  text-align: center;
  text-decoration:underline;

  font-size: 70px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.title::after,
.title::before {
  content: '-';
}
