.header__wrapper {
  max-width: 1240px;
  width: 100%;

  padding: 20px;
  margin: 0 auto;
}

.title {
  color: #464969;

  text-align: center;
  text-decoration:underline;

  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}
