.main__wrapper {
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
}

.main__section_gallows {
  display: block;
}

.main__section_game {
  display: block;
}
// * {
//   border: 1px solid red;
// }